.navbar {
  @apply sticky top-0 w-full bg-white z-10 border-b border-greyLight duration-300;
  height: 80px;

  .container {
    @apply mx-auto flex items-center justify-between px-2 h-full;
    max-width: 1300px;

    .logoAndTags {
      @apply flex items-center gap-14;

      .logoContainer {
        @apply cursor-pointer flex items-center;
      }

      .tagsContainer {
        @apply flex items-center justify-start gap-3;

        .tag {
          @apply capitalize font-semibold flex items-center gap-3;
        }
      }
    }

    .seeCodeContainer {
      @apply flex items-center justify-center cursor-pointer;
    }

    @media only screen and (max-width: 920px) {
      @apply px-4;

      .logoAndTags {
        .logoContainer {
          width: 160px;
        }

        .tagsContainer {
          @apply hidden;
        }
      }
    }
  }
}

.content {
  @apply relative px-2 bg-blueBg w-full flex items-center justify-center;
  height: calc(100vh - 80px);

  .controlButtonsContainer {
    @apply absolute bottom-8 right-1/2 translate-x-2/4 flex items-center flex-col gap-5;

    .buttonsContainer {
      @apply flex items-center justify-center gap-6;

      .playButtonContainer {
        @apply rounded-full bg-blue flex items-center justify-center cursor-pointer duration-300;
        width: 60px;
        height: 60px;
        padding: unset;

        &:hover {
          @apply bg-blueHover;
        }

        & > span {
          @apply relative left-0.5;
        }
      }

      .prevNextButtonContainer {
        @apply cursor-pointer;
      }
    }

    .progressBarContainer {
      @apply bg-blue/10 h-1.5 rounded-sm relative;
      width: 350px;

      span {
        @apply absolute top-0 left-0 h-full bg-blue rounded-full;
        width: 30%;
      }
    }
  }

  .configs {
    .configsButtonContainer {
      @apply absolute left-16 bottom-14 cursor-pointer;
    }
  }

  .instructions {
    .instructionsButtonContainer {
      @apply absolute right-16 bottom-14 cursor-pointer;
    }
  }

  @media only screen and (max-width: 920px) {
    .controlButtonsContainer {
      @apply bottom-4;

      .buttonsContainer {
        .playButtonContainer {
          width: 50px;
          height: 50px;
        }

        .prevNextButtonContainer {
          @apply hidden;
        }
      }

      .progressBarContainer {
        @apply hidden;
      }
    }

    .configs {
      .configsButtonContainer {
        @apply left-4 bottom-6;
        width: 27px;
      }
    }

    .instructions {
      .instructionsButtonContainer {
        @apply right-4 bottom-6;
        width: 28px;
      }
    }
  }
}

.model {
  @apply fixed top-0 left-0 z-10 left-0 w-screen h-screen flex items-center justify-center px-4;
  animation: backgroundAnim 0.4s ease forwards;

  .contentContainer {
    @apply bg-blueBg flex flex-col justify-between p-6 w-full;
    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-width: 650px;
    min-height: 500px;
    max-height: 90%;
    transform: translateY(50%);
    opacity: 0;
    animation: openModel 0.4s ease forwards;

    .top {
      @apply flex w-full h-full;

      .instructionsContainer {
        @apply w-full;

        h4 {
          @apply font-bold;
          font-size: 20px;
        }

        .instruction {
          @apply flex justify-start  font-semibold my-2;
          font-size: 18px;

          span {
            width: 25px;
          }

          p {
            flex: 1;
          }
        }
      }

      .picContainer {
        @apply self-center;
        width: 40%;
      }
    }

    .buttonsContainer {
      @apply w-full flex items-center flex items-center justify-between gap-3;

      button {
        font-size: 16px;
      }

      .readMore {
        @apply text-blue bg-blueLighter;

        &:hover {
          background-color: #f1eded;
        }
      }
    }

    @media only screen and (max-width: 650px) {
      @apply p-4;

      .top {
        .instructionsContainer {
          h4 {
            font-size: 18px;
          }

          .instruction {
            font-size: 16px;
          }
        }

        .picContainer {
          @apply hidden;
        }
      }

      .buttonsContainer {
        @apply flex-col gap-2 mt-2;

        button {
          @apply w-full;
        }
      }
    }
  }
}

@keyframes backgroundAnim {
  from {
    background-color: transparent;
  }

  to {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes openModel {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
