.navbar {
  @apply sticky top-0 w-full bg-white z-10;
  height: 100px;

  .navContainer {
    @apply mx-auto px-8 h-full flex items-center justify-between;
    max-width: 1300px;

    .logoContainer {
      @apply flex items-center cursor-pointer;
    }

    .navLinks {
      @apply flex items-center gap-6 capitalize;

      .navLink {
        @apply font-semibold text-grey py-2;

        &.active {
          @apply relative text-blackShade;

          &::after {
            @apply absolute bg-blue bottom-0 right-2/4 translate-x-2/4 h-0.5 w-3/4;
            content: "";
            max-width: 50px;
          }
        }
      }
    }

    .barsContainer {
      @apply hidden;
    }
  }

  @media only screen and (max-width: 920px) {
    height: 80px;

    .navContainer {
      @apply px-4;

      .logoContainer {
        width: 130px;
      }

      .navLinks {
        @apply fixed left-full flex-col justify-center items-center bg-blueLighter;
        border-radius: 15px;
        width: 98%;
        height: 96%;
        top: 2%;
        transition: left 0.3s ease;
      }

      .contributeButton {
        @apply hidden;
      }

      .barsContainer {
        @apply h-1/5 flex flex-col justify-between items-center cursor-pointer z-10;
        width: 30px;

        .bar {
          @apply w-full bg-blackShade h-0.5 rounded-full;
        }
      }

      &.open {
        .navLinks {
          left: 1%;
        }
      }
    }
  }
}

.creditContainer {
  @apply flex items-center justify-center w-full bg-blueLighter py-4;

  p {
    @apply text-center capitalize;

    span {
      @apply text-blue font-semibold;
    }
  }
}

.contentContainer {
  @apply mx-auto w-full px-2;
  max-width: 1300px;
}
