.navbar {
  @apply sticky top-0 w-full bg-white z-10 border-b border-transparent duration-300;
  height: 100px;

  &.withBorder {
    @apply border-greyLight;
  }

  &.colorsReversed {
    @apply bg-transparent;

    .navContainer {
      .navLinks {
        .navLink {
          color: rgba(255, 255, 255, 0.58);

          &.active {
            @apply text-white;

            &::after {
              @apply bg-white;
            }
          }
        }
      }

      .barsContainer {
        .bar {
          @apply bg-white;
        }
      }
    }
  }

  .navContainer {
    @apply mx-auto px-2 h-full flex items-center justify-between;
    max-width: 1300px;

    .logoContainer {
      @apply flex items-center cursor-pointer;
    }

    .navLinks {
      @apply flex items-center gap-6 capitalize;

      .navLink {
        @apply font-semibold text-grey py-2;

        &.active {
          @apply relative text-blackShade;

          &::after {
            @apply absolute bg-blue bottom-0 right-2/4 translate-x-2/4 h-0.5 w-3/4;
            content: "";
            max-width: 50px;
          }
        }
      }
    }

    .barsContainer {
      @apply hidden;
    }
  }

  @media only screen and (max-width: 920px) {
    height: 80px;

    .navContainer {
      @apply px-4;

      .logoContainer {
        width: 130px;
      }

      .navLinks {
        @apply fixed left-full flex-col justify-center items-center bg-blueLighter;
        border-radius: 15px;
        width: 98%;
        height: 96%;
        top: 2%;
        transition: left 0.3s ease;
      }

      .contributeButton {
        @apply hidden;
      }

      .barsContainer {
        @apply h-1/4 flex flex-col justify-between items-end cursor-pointer z-10;
        width: 22px;

        .bar {
          @apply w-full bg-blackShade rounded-full;
          transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
          height: 3px;

          &:nth-of-type(1) {
            @apply w-3/6;
          }

          &:nth-of-type(3) {
            @apply w-9/12;
          }
        }
      }

      &.open {
        .navLinks {
          left: 1%;

          .navLink {
            @apply font-semibold text-grey py-2;

            &.active {
              @apply relative text-blackShade;

              &::after {
                @apply bg-blue;
              }
            }
          }
        }

        .barsContainer {
          .bar {
            @apply bg-blackShade;

            &:nth-of-type(1) {
              transform-origin: bottom;
              transform: translate(-9px, 4px) rotatez(45deg);
            }

            &:nth-of-type(2) {
              transform-origin: top;
              transform: rotatez(-45deg);
            }

            &:nth-of-type(3) {
              transform-origin: bottom;
              transform: rotatez(45deg) translate(-6px, -4.5px);
            }
          }
        }
      }
    }
  }
}

.creditContainer {
  @apply flex items-center justify-center w-full bg-blueLighter py-4;

  p {
    @apply text-center capitalize;

    span {
      @apply text-blue font-semibold;
    }
  }
}

.contentContainer {
  @apply mx-auto w-full px-2;
  max-width: 1300px;
}
