.container {
  @apply flex items-center justify-center py-32 pt-36;
  top: -101px;

  @media only screen and (max-width: 920px) {
    @apply py-20 pt-28;
    top: -81px;

    img {
      display: none !important;
    }
  }
}
