.hero {
  @apply flex items-center justify-between pb-20 pt-4;

  .headersContainer {
    @apply flex flex-1 flex-col self-start pt-24 gap-10;

    h1 {
      span {
        white-space: nowrap;
      }
    }

    .desc {
      @apply text-grey w-10/12;
      font-size: 22px;
      letter-spacing: -0.5px;
    }

    .buttonsContainer {
      @apply flex gap-10 items-center;

      .iconButton {
        @apply rounded-full p-4 flex h-full items-center justify-center border border-greyLight;
      }
    }
  }

  .picContainer {
    @apply flex-1;
  }

  @media only screen and (max-width: 1200px) {
    .headersContainer {
      h1 {
        span {
          white-space: normal;
        }
      }
    }
  }

  @media only screen and (max-width: 920px) {
    @apply flex-col-reverse;

    .picContainer {
      max-width: 500px;
    }
  }

  @media only screen and (max-width: 800px) {
    .headersContainer {
      @apply gap-4 py-4;

      .desc {
        letter-spacing: normal;
        font-size: 18px;
      }

      .buttonsContainer {
        @apply flex gap-4 items-center mt-4;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .headersContainer {
      .desc {
        font-size: 14px;
      }
    }
  }
}

.features {
  @apply relative py-12 flex items-end justify-between flex-wrap;

  &::after {
    @apply w-screen bg-blue h-full top-2/4 left-2/4  absolute;
    content: "";
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .feature {
    @apply flex text-center flex-col items-center justify-between gap-6;
    width: 30%;
    min-width: 300px;

    &:nth-of-type(1) {
      .picContainer {
        width: 80px;
      }
    }

    .picContainer {
      @apply flex items-center justify-center;
      width: 110px;
    }

    h3 {
      @apply font-bold whitespace-nowrap text-white capitalize;
      font-size: 26px;
    }

    p {
      @apply text-greyLight;
    }
  }

  @media only screen and (max-width: 1200px) {
    @apply justify-around;
  }

  @media only screen and (max-width: 900px) {
    @apply justify-around;

    .feature {
      @apply my-4;
    }
  }

  @media only screen and (max-width: 700px) {
    .feature {
      @apply w-11/12;
      min-width: none;

      h3 {
        @apply whitespace-normal;
      }
    }
  }
}

.visulizationsSuggestions {
  @apply py-32;

  @media only screen and (max-width: 800px) {
    @apply py-20;
  }
}
